
  section.section-global .header .div-logo {
    background-color: #235e3d;
  }
  .section-global .div-post button {
    background-color: #235e3d;
  }
  
  .section-global .nav ul li a:hover {
    background-color: #235e3d;
  }