body {
    background-image: url("../img/hojas.jpg");
    background-attachment: fixed;
  }
  section.section-global .header .div-logo {
    background-color: #ca3413;
  }
  .section-global .div-post button {
    background-color: #ca3413;
  }
  
  .section-global .nav ul li a:hover {
    background-color: #ca3413;
  }